/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;  /* Light background */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #0068a8;  /* Dark blue */
    text-align: center;
}

form {
    background-color: #ffffff;  /* White form background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

label {
    font-weight: bold;
    color: #0068a8;  /* Dark blue */
    display: block;
    margin-bottom: 5px;
}

input[type="text"], button {
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="text"] {
    background-color: #f9f9f9;  /* Light input background */
}

button {
    background-color: #0068a8;  /* Dark blue */
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #18b8ec;  /* Light blue on hover */
}

/* Styling for current question display */
h2 {
    color: #0068a8;  /* Dark blue */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #18b8ec;  /* Light blue */
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

ul li:last-child {
    margin-bottom: 0;
}

/* Flash messages styling */
ul li.flash-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
}

/* Container for the two sections */
.container {
    display: flex;
    gap: 20px; /* Space between the sections */
    padding: 20px;
}

/* Left section for the graph */
.graph-section {
    flex: 2; /* Takes up 2/3 of the width */
}

/* Right section for buttons and other content */
.content-section {
    flex: 1; /* Takes up 1/3 of the width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Align buttons to the left */
    padding: 10px;
    background-color: #f9f9f9; /* Light background for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    border-radius: 8px; /* Rounded corners */
}

.center_info{
    text-align: center;
}